.landing-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  height: 84%;
  width: 77%;
  top: 6rem;
  left: 25rem;
  padding: 2rem;
  overflow-y: scroll;
}
